@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content:center;
    align-items: center;
    min-height: 300vh;
    background: #212121;
    font-family: sans-serif;
    /* background: #f1f1f1; */
    /* min-height: 100vh; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }
  .contact-info{
    display: flex;
    width: 400%;
    max-width: 1500px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-left: -530px;
  }
  .we{
      color: white;
      text-align: center;
      font-size: 40px;
  }
 
  
  .car{
    background: #2f3542;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }
  
  .car-icon{
    font-size: 28px;
    background: #ff6348;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
  }
  
  .car:hover .car-icon{
    background: none;
    color: #ff6348;
    transform: scale(1.6);
  }
  
  .car p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
  }
  
  .car:hover p{
    max-height: 40px;
    opacity: 1;
  }
  
  
  @media screen and (max-width:800px) {
    .contact-info{
      flex-direction: column;
    }
    .car{
      width: 100%;
      max-width: 300px;
      margin: 10px 0;
    }
  }
  
  .box{
    width: 1200px;
    /* max-width: 0%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  }
  .card{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
    z-index: 1;
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;

  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   }
.logo{
    width: 20%;
    height: 20%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;
    border: 3px solid black;
    border-radius: 50px;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    /* position: fixed; */
    z-index: 2;
    top: 0;
    cursor: pointer;
    background-color: black;
    
}
.nav-list{
    width: 70%;
    display: flex;
    text-decoration: none;
}
.nav-list li{
    list-style: none;
    text-decoration: none;
    padding: 30px 30px;
    font-size: 22px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-list li a{
    color: #399be0;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-list li a:hover{
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.searchmenu{
    width: 30%;
    text-align: right;
    padding: 0px 22px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 10px;
}
.firstsection{
    background:rgba(0, 0, 0, 0.7) url('../logo2.jpg');
    background-size: 1600px 800px;
    /* background-blend-mode:lighten; */
    background-repeat: no-repeat;
}
.firstsection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.firsthalf{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondhalf{
    width: 30%;
}
.secondhalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}
.text-big{
    font-size: 48px;
}
.text-small{
    font-size: 18px;
}
button.btn10{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
    background-color: skyblue;
    margin-top: 20px;
}
button.btn10:hover{
    background: transparent;
    border: 1px solid black;
    color: var(--white);
}
button.btn{
    border: none;
    border-radius:.5rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
    /* background-color: skyblue; */
    
}
.btn100{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
   margin-left:500px;
    background-color: skyblue;
    border: 2px solid black;
    color: blue;
    padding: 9px 7px;
    border-radius: 2rem;
    cursor: pointer;
}
.row{
    display: flex;
    color: white;
    
}
.cr1{
    text-decoration: none;
}
.cr{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    /* background-color: white; */
}
.header20{
    color: white;
    font-size: 30px;
    align-items: center;
    text-align:center;
}

.section{
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}
.sectionTag{
    padding: 16px 0;
    font-size: 50px;
    text-align: center;
}
.sectionSubTag{
    font-size: 18px;
}
.section-left{
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}
.paras{
    padding: 0 65px;
    color: white;
}
.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 10px;
}
.contact{
    background-color: #f1f0ef;
    height: 630px;
    font-family: 'Ubuntu', sans-serif;
}
.text-center{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    padding: 15px;
}
.form{
    max-width: 1000px;
    margin: 25px auto;
}
.form-input{
    width: 100%;
    border: 2px solid grey;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 20px;
    padding: 5px 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.center{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .outer{
        position: relative;
        margin: 0 50px;
     background: #111;
}
.button{
    height: 70px;
    width: 220px;
    border-radius: 50px;
}
.outer button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #111;
    color: #f2f2f2;
    outline: none;
    border: none;
    font-size: 20px;
    z-index: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.button button{
    height: 60px;
    width: 210px;
    border-radius: 50px;
}
.circle button{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.outer span{
    height: 100%;
    width: 100%;
    background: inherit;
}
 .button span{
    border-radius: 150px;
}
.circle span{
    border-radius: 150px;
}
.outer:hover span:nth-child(1){
    filter: blur(7px);
}
.outer:hover span:nth-child(2){
    filter: blur(14px);
}
.outer:hover{
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.burger{
    display: none;
position: absolute;
cursor: pointer;
top: 21%;
right: 2%;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
@media only screen and (max-width: 1000px) {
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        height: 447px;
        transform: all 0.7s ease-out
    }
    .nav-list li{
        text-align: center;
        margin-left: -65px;
    }
    #search{
        padding: 5px;
        font-size: 17px;
        border: 2px solid grey;
        border-radius: 10px;
        width: 200px;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .burger{
    display: block;
    }
    .h-nav-resp{
height: 65px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .firstsection{
background-size: 1000px 500px;
    }
    .section{
        flex-direction: column-reverse;
        text-align: center;
        /* align-items: center; */
        /* display: flex; */
        /* justify-content: center; */
        margin-left: 120%;
    }
}